/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000; /* COLOR */
    color: #fff; /* COLOR */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #ffffff; /* COLOR */
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza as abas */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000; /* Texto branco */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    padding: 20px;
}

section {
    max-width: 800px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 20px 0;
    background-color: #ffffff; /* Fundo para seções */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
}

p {
    color: #000000


}

h2 {
    color: #003366; /* Azul escuro */
    margin-bottom: 10px;
}

h3 {
    color: #003366; /*COLOR*/
}

h4 {
    color: #003542; /* COLOR*/
}

h5 {
    color: #2d798b; /* COLOR */
}

.projeto {
    margin-bottom: 18px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #008caf; /* COLOR*/
    color: #ffffff;
}

a {
    color: #006983; /* COLOR */
}

a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

img {
    max-width: 100%; /* Faz as imagens se ajustarem ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    margin: 12px 0; /* Espaçamento entre as imagens */
}